@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{

    margin: auto;
    padding: auto;
    font-family: 'Taviraj', serif;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:  url(images/f3/viktor-forgacs-aPC8ygu3bWA-unsplash.jpg);
    background-position: center;
    background-size:cover;
    position:relative;
}
nav{
    display:flex;
    padding: 2% 25%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    Width: 200px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(8, 7, 7);
    text-decoration: none;
    font-size: 24px;

}
.nav-links ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#568bcb;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li :hover::after{
    width: 100%;

}
.text-box{
    width: 90%;
    color: rgb(249, 239, 239);
    position: absolute;
    top: 35%;
    left: 5%;
    transform: translate(-50% -50%);
    text-align: center;  
}

.text-box h1{
    font-size: 62px;
}
.text-box p{
   margin: 10px 0 40px;
   font-size: 24px;
   color: rgb(247, 244, 244);
    
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 24px;
    background: transparent;
    position: relative
}
.hero-btn:hover{
    border: 2px solid rgb(40, 8, 34);
    background: #e3832f7f;

}

@media(max-width: 820px){
    .text-box h1{
        font-size: 30px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgba(107, 106, 101, 0);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
    .text-box{
        width: 85%;
        color: rgb(224, 211, 211);
        position: absolute;
        top: 25%;
        left: 0%;
        transform: translate(-50% -50%);
        text-align: center;
       
    }
    nav img{
        Width: 150px;
        left: 5%;
        position: absolute;
    }
}
.slideone{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    color: black;
}
p{
    color: rgb(12, 10, 10);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.slideone-col{
    flex-basis: 31%;
    background: #f7f5f5;
    border-radius: 10%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;

}
.slidetwo-col{
    box-shadow: 0 0 20px 0px rgba(107, 106, 101, 0.532);
}
.slidetwo{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}
.slidetwo-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.slidetwo-col img{
    width: 100%;
    display: block;
    
}
.layer{
    background: transparent;
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(41, 11, 188, 0.47);
}
.layer h3{
    width:100%;
    font-weight: 500;
    color: rgb(248, 235, 235);
    font-size: 30px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    position:absolute;
    transition:  0.5s;
   
}
.layer:hover h3{
        bottom: 49%;
        opacity: 1;
}
.cta{
    margin: 100px auto;
    width:80%;
    background-image: linear-gradient(rgba(251, 246, 246, 0.7),rgb(235, 235, 242)),url(images/f1/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: rgb(239, 234, 234);
    margin-bottom: 40px;
    padding: 0;
}
.footer-space{
  margin: 100px auto;
  width: 80%;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}